/*.layout{
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
}*/
p{
    font-family: Arial, Helvetica, sans-serif;
}
.d-grey-text,
.then{
    color: rgb(112, 110, 110);
    margin-top: 8px;
    margin-bottom:8px;
}
.then{
    margin-left: 8px;
    margin-right: 8px;
}
.language-switcher{
    text-align: right;
}
.breadcrumbs{
    background-color: rgb(248, 248, 248);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left:10%;
    padding-right: 10%;
    display: flex;
}
.breadcrumbs-left, 
.breadcrumbs-right{
    display: flex;
}
.breadcrumbs-right{
    margin-left: 65%;
}
.lang-switcher-icon{
    width:20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
}
.l-pane-titles{
    color: rgb(59, 56, 56);
    font-weight: bold;
    font-size: 18px;
}
.bullet,
.right-bullet{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 85, 85);
    line-height: 30px;
}
.sub-bullet{
    list-style: none;
}
.highlighted-bullet{
    background-color: rgba(0, 133, 242, 0.192);
    border-left: 3px solid rgb(0, 105, 194);
    padding: 5px;
}
.banner{
    text-align: center;
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: large;
    padding: 3px;
}
.header{
    display: flex;
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo-img{
    flex:10%;
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.panes{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.h-pages{
    color: rgb(94, 92, 92);
    display: flex;
    margin-right: 500px;
}
.h-pages p{
    margin-right: 20px;
}
.l-pane,
.m-pane,
.r-pane{

    padding-bottom: 50px;
}
.l-pane{
    flex: 20%;
    border-right: 12px solid rgb(212, 211, 211);
}
.m-pane{
    flex: 60%;
 }
.m-pane-content{
    padding-left: 7%;
    padding-right: 7%;
 }
.m-pane-content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.m-pane-content h2{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.m-pane-content p{
    line-height: 30px;
}
.three-buttons{
    display: flex;
}
.m-pane-buttons{
    flex: 33%;
}
.m-pane-buttons button{
    background-color: white;
    border: 1px solid grey;
    color:rgb(0, 133, 242);
    text-decoration: underline;
    border-radius: 5px;
    padding: 5px;
}
.next-button-input{
    float: right;
}
tr, th{
    border: 1px solid grey;
    padding: 10px;
}
th{
    font-weight:lighter;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
}
.table-title{
    font-weight: bold;
}
table{
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.r-pane{
    flex: 20%;
    
}
.right-bullet li{
    list-style: none;
    border-left: 2px solid gray;
    padding-left: 10px;
    line-height: 40px;
}

.dark-mode{
    display: flex;
    /*border: 2px solid red;*/
}
.darkmode{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 14px;
}
.search-img{
    height:50px;
    width: auto;
}
.mdnplus-button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}
.logo,
.mdnplus{
    margin-top: 8px;
    margin-bottom: 8px;
}